<!DOCTYPE html>
<html>

  <head>
    <title>Online Test</title>
  </head>

  <body>

    <center>
      <form>
        <fieldset>
          <legend align="center">
            <font size="5">Введіть ваше ім'я і почніть тест!</font>
          </legend> <br></br>
          <center>

            <form action="forms.py" >

              Ім'я: <input type="text" name="TEXT_1" >
              <input type="submit">



          </center><br></br>
          <center><input type="button" onclick="location.href='/test'" value="Почати тест!" ></center>
          </form><br></br>
        </fieldset>
      </form>
    </center>
    </div>
  </body>

</html>
