<!DOCTYPE html>

<html>

  <head>
    <title>Start Online Test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  </head>

  <body>

    <center>
        <fieldset>
          <legend align="center">
            <font size="5">Привіт, {{ aaa }}, почнемо тест!</font>
          </legend>
          <br>


          <form action="/result" method="get">

              <p>{{ question }}</p>


            <br>
            <br>

            <input type="radio" name="answer" value="A"> {{ val1 }} <br>
            <input type="radio" name="answer" value="B"> {{ val2 }} <br>
            <input type="radio" name="answer" value="C"> {{ val3 }}
            <br>
            <br>
            <br>

              <input type="text" hidden name="q" value="{{ question }}">
            <input type="text" hidden name="answer_r" value="{{ answer_r }}">

          <center><input type="submit" value="Відправити"></center>
            <br>
          </form>

        </fieldset>
    </center>

  </body>

</html>
